/*Global Styling*/
.fourteenForty {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.twelveHundred {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tenEighty {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.nineSixty {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.imgHolder img {
    max-width: 100%;
    height: auto;
    display: block;
  }

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}




  /*Font Styling*/
h1 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;  
    text-align: center; 
}

h3 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.exercise-info__heading {
    display: block;
    font-weight: 700;
}

.contact-info__heading {
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.contact-info__text {
    font-size: 0.8rem;
}




 /*Header Styling*/
header {
    padding: 30px;
}

.header-image__holder {
    max-width: 70px;
    margin: 20px auto;
}
 
.header-navigation__holder > ul { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 15px
}

.header-navigation__holder a {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: var(--button-primary);
    font-weight: 700;
}

.header-navigation__holder a:hover {
    background-color: var(--button-hover);
    transition: 0.15s ease-in;
}


/*Homepage Styling*/
/*Hero Section*/
.hero__section {
text-align: center;
margin-top: 50px;
padding-left: 30px;
}

.hero-text__holder {
    padding: 30px;
}

.hero-image__holder img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: 0;
    width: calc(100vw - 50px);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


/*Archive Section*/
.archive__section { 
    margin-top: 100px;
    padding: 15px;
}

.archive-box__container {
    overflow: hidden;
    border-radius: 25px;    
}

.archive-content__holder {
    background-color: var(--container-primary);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.archive-image__holder img { 
    border-radius: 25px;
    border: 3px solid var(--bg-primary);
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

.archive-text__holder { 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.button a {
    display: inline-block;
    padding: 5px 25px;
    border-radius: 25px;
    background-color: var(--button-primary);
    font-weight: 700;
}

.button a:hover {
    background-color: var(--button-hover);
    transition: 0.15s ease-in;
}


/*Review Section*/
.review__section {
    margin-top: 100px;
    padding: 15px;
}

.recreant-heading__holder {
    margin: 0 auto;
    text-align: center;
}

.review__section > h2 {
    padding: 30px 0px
}

.review-content__container {
    text-align: center;
    margin: 0px auto 100px auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.review-image__holder img {
    margin: 0 auto;
}




/*Recreant Page Styling*/
/*Exercise Section*/
.recreant-exercises__section {
    padding: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.exercise-box__holder { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto) 50px;
    grid-template-areas: 
    "title title title"
    "info info info"
    "text text text"
    ". img ."
    "cat cat cat";
    max-width: 500px;
    margin: 0 auto;
}

.exercise-box__holder > h2 {
    grid-area: title;
    padding-bottom: 15px;
}

.exercise-text__holder {
    grid-area: text;
    padding: 15px 0px;
}

.exercise-info__holder { 
    grid-area: info;
    padding: 30px;
    height: fit-content;
    border-radius: 25px;
    background-color: var(--container-secondary); 
}

.exercise-image__holder {
    grid-area: img;
    display: flex;
    align-items: flex-end;
}

.exercise-image__holder img { 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.exercise-category__holder {
    grid-area: cat;
    background-color: var(--container-primary);
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}


/*Contact Page Styling*/
/*Form Div*/
.contact-info__section {
    padding: 15px;
    margin: 50px auto;
}

.contact-info__holder {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.contact-category__holder {
    border-radius: 20px;
    border: 3px solid var(--container-secondary);
    margin-top: 30px;
}

.contact-category__holder > label {
    display: block;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--container-secondary);
    font-weight: 700;
}

.contact-category__holder--inputs { 
    padding: 15px;
    display: flex;
    column-gap: 8%;
}

/*Radio button Styling*/
.contact-category__holder--inputs input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 3px solid var(--bg-primary);
    box-shadow: 0 0 0 2px var(--container-secondary);
} 

.contact-category__holder--inputs input[type="radio"]:checked {
    background-color: var(--container-secondary);
}

.contact-user-info__holder {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 50px;
}

.contact-user-info__holder > input, textarea {
    padding: 10px;
    border-radius: 15px;
}

.contact-user-info__holder > input:hover, textarea:hover, input:focus-visible, textarea:focus-visible {
    border: 2px solid var(--container-secondary);
} 

.contact-form__holder button {
    display: block;
    margin-left: auto;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: var(--button-primary);
    font-weight: 700; 
}

.contact-form__holder button:hover {
    background-color: var(--button-hover);
    transition: 0.15s ease-in;
}


/*Site Info Div*/
.site-info__holder {
    border-radius: 25px;
    overflow: hidden;
    background: var(--container-primary);
}

.site-info__holder--content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.contact-info__holder--phone, .contact-info__holder--email {
    position: relative;
    padding: 15px 30px;
    max-width: 300px;
    width: 100%;
    border-radius: 25px;
    background-color: var(--text-primary);
    color: var(--bg-primary);
    border: 2px solid var(--bg-primary);
    align-self: center;
}

.contact-info__holder--phone::after {
    content: "\f095";
    position: absolute;
    right: 30px;
    top: calc(50% - 19px);
    font-family: FontAwesome;
    color: var(--text-primary);
    padding: 10px;
    border-radius: 45px;
    background-color: var(--container-secondary);
}

.contact-info__holder--email::after {
    content: "\f0e0";
    position: absolute;
    right: 30px;
    top: calc(50% - 19px);
    font-family: FontAwesome;
    color: var(--text-primary);
    padding: 10px;
    border-radius: 45px;
    background-color: var(--container-secondary);
}

.site-info__holder--content > hr {
    width: 100%;
    height: 3px;
    border: 0px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(229,77,40,1), rgba(186,48,113,1), rgba(0,0,0,0));
}

.site-socials__holder {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-size: 1.5rem;
}

.site-socials__holder i {
    border-radius: 45px;
    color: var(--button-primary);
    background-color: var(--text-primary);
    border: solid 8px var(--text-primary);
}

.site-socials__holder i:hover {
    color: var(--container-secondary);
    transition: 0.15s ease-in;
}




/*Footer Styling*/
.footer__text {
    display: block;
    text-align: center;
    padding: 30px;
}




/*Media Queries*/
@media screen and (min-width: 768px) {
    /*Fonts Styling*/
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }


    /*Header Styling*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-image__holder {
        margin: unset;
    }

    .header-navigation__holder > ul {
        justify-content: space-between;
    }
    

    
    /*Homepage Styling*/
    /*Hero Section*/
    .hero__section {
        display: flex;
        column-gap: 30px;
    }

    .hero__section h1 {
        font-size: 4rem;
    }

    .hero-text__holder {
        padding: unset;
        padding-top: 5%;
    }


    /*Archive Section*/
    .archive-content__holder {
        flex-direction: row;
        column-gap: 30px;
        justify-content: space-between;
    }

    .archive-content__holder--reverse {
        flex-direction: row-reverse;
    }

    .archive-image__holder {
        flex: 0 1 40%;
    }

    .archive-image__holder img {
        max-width: 100%;
    }

    .archive-text__holder {
        flex: 0 1 60%;
    }


    /*Review Section*/
    .review__section {
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, 1fr);
        grid-column-gap: 30px;

    }

    .review__section h2 {
        grid-column: 1 / -1;
    }


    /*Recreant Page Styling*/
    /*Exercise Section*/
    .exercise-box__holder { 
        max-width: unset;
        grid-template-columns: minmax(auto, 200px) repeat(2, 1fr);
        grid-template-rows: repeat(5, auto) 50px;
        grid-column-gap: 30px;
        grid-template-areas: 
        ". title title"
        ". info info"
        "img info info"
        "img text text"
        "img text text"
        "cat cat cat";
    }

    .exercise-category__holder {
        border-top-left-radius: unset;
    }


    /*Contact Page Styling*/
    /*Form Div*/
    .contact-info__holder {
        column-gap: 50px;
        flex-direction: row;
        max-width: unset;
    }

    .contact-form__holder {
        flex: 0 1 50%;
    }


    /*Site Info Div*/
    .site-info__holder {
        flex: 0 1 50%;
        align-self: center;
    }
    
}




@media screen and (min-width: 1024px) {
    /*Fonts Styling*/
    h1 {
        font-size: 2.5rem;
    }


    /*Homepage Styling*/
    /*Hero Section*/
    .hero__section {
        padding: 15px;
        column-gap: 50px;
    }

    .hero-text__holder {
        flex: 0 1 40%;
        padding-top: 8%;
    }

    .hero-image__holder {
        position: relative;
        flex: 0 1 60%;
    } 

    .hero-image__holder::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: var(--container-secondary);
        width: 15%;
        height: 100%;
        right: 0;
        top: 0;
        border-radius: 25px;
    }

    .hero-image__holder img {
        width: unset;
        max-width: 90%;
        margin: 20px 30px;
        border-radius: 25px;
    } 


    /*Archive Section*/
    .archive-box__container {
        display: flex;
        justify-content: space-between;
        column-gap: 75px; 
    }

    .archive-content__holder {
        flex: 0 1 50%;
        border-radius: 25px;
    }


    /*Recreant Page Styling*/
    /*Exercise Section*/
    .exercise-box__holder {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, auto) 75px 50px;
        grid-template-areas: 
        ". title title info info"
        "img text text info info"
        "img text text . ."
        "cat cat cat cat cat";
    }

    .exercise-box__holder > h2 {
        text-align: left;
    }


    /*Contact Page Styling*/
    /*Form Styling*/
    .contact-info__holder {
        column-gap: 100px;
    }

    .contact-user-info__holder {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .contact-user-info__holder > input[type="email"] {
        grid-column: 1 / 3;
        grid-row-start: 2;
    }

    .contact-user-info__holder > textarea {
        grid-column: 1 / 3;
        grid-row-start: 3;
    }
}
